.gallery {
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    white-space: nowrap; /* Evitar saltos de línea */
    margin: 1rem 0; /* Margen superior e inferior */
  }
  
  .gallery-slider {
    display: flex; /* Utilizar flexbox */
  }
  
  .gallery-image {
    max-width: calc(100% / 4); /* Ancho máximo de cada imagen */
    height: auto; /* Altura automática */
    margin-right: 1rem; /* Margen derecho entre imágenes */
  }